#{extends 'main.html'/}


<!-- 
<div class="row">
	<div class="span4 offset2">
	<div class="alert alert-error alert-block">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<h4>Error!</h4>
		9/11 dataset and web interfaces are being updated.
		Please come back later.
	</div>
	<div class="span6"></div>
	</div>
</div>
 -->
<div class="row">
    <div class="span8 offset2">
        #{form @Tagger.search(), class: "form-vertical"}
        <form method="post" action="tagger" >
            <label class="control-label" for="surveyId">Survey
              <select name="surveyId">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </label>
            <label class="control-label" for="universityId">University Code
              <select name="universityId">
                <option>GU</option>
                <option>HUE</option>
                <option>HUY</option>
                <option>NSU</option>
                <option>NYU</option>
                <option>STAN</option>
                <option>STLC</option>
                <option>STLM</option>
                <option>SWE</option>
                <option>UCSC</option>
                <option>YALE</option>
              </select>
            </label>
            <label>Participant Number<input name="participantId"/></label>
            <label class="control-label" for="questionId">Question
              <select name="questionId">
                <option>1</option>
                <option>11</option>
                <option>12</option>
                <option>38</option>
                <option>39</option>
                <option>40</option>
                <option>41</option>
                <option>42</option>
                <option>43</option>
              </select>
            </label>            
            <input type="submit" value="Search" class="btn" />
        </form>            
        #{/form}
    </div>
    <div class="span2"></div>
</div>