#{extends 'main.html'/}

<br />
<div class="row">
    <div class="span8 offset2">
	#{if resultId==null || resultText==null}
        <em style="color: #DD0000;">Invalid Survey ID! (ID = <strong>${resultId}</strong>)</em>
    #{/if}
    
    #{if resultId!=null && resultText!=null}
        <h3>Search Result</h3>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>POS Tags</th>
            </tr>
            </thead>
            <tr>
                <td><strong><code>${resultId}</code></strong></td>
                <td>${resultText.raw()}</td>
            </tr>
        </table>
    #{/if}
	</div>
</div>
<div class="row">
    <div class="span8 offset2">
        #{form @Tagger.search(), class: "form-vertical"}
        <form method="post" action="tagger" >
            <label class="control-label" for="surveyId">Survey
              <select id="surveyId">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </label>
            <label class="control-label" for="universityId">University Code
              <select id="universityId">
                <option>GU</option>
                <option>HUE</option>
                <option>HUY</option>
                <option>NSU</option>
                <option>NYU</option>
                <option>STAN</option>
                <option>STLC</option>
                <option>STLM</option>
                <option>SWE</option>
                <option>UCSC</option>
                <option>YALE</option>
              </select>
            </label>
            <label>Participant Number<input name="participantNumber"/></label>
            <label class="control-label" for="questionId">Question
              <select id="questionId">
                <option>1</option>
                <option>11</option>
                <option>12</option>
                <option>38</option>
                <option>39</option>
                <option>40</option>
                <option>41</option>
                <option>42</option>
                <option>43</option>
              </select>
            </label>            
            <input type="submit" value="Search" class="btn" disabled/>
        </form>            
        #{/form}
    </div>
    <div class="span2"></div>
</div>